<br /><br /><br />
<div class="RulesContainer">
    <h1 class="center">PIG GAME</h1>

        <p>If the player rolls a 1, they score nothing and it becomes the next player's turn.</p>
        <p>If the player rolls any other number, it is added to their turn total and the player's turn continues.</p>
        <p>If a player chooses to "PASS", their turn total is added to their score, and it becomes the next player's turn.</p>
        <p>The first player to score 100 or more points wins.</p>

</div>